body{
  color: orange;
  font-family: monospace;
  text-align: center;
  background-image: url(mountains.png);
  background-size:100%;
}
h1 {
  color: blue;
  font-weight: bold;
  font-size: 1000px;
  text-align: center;
}
h2 {
  color: black;
  font-weight: bold;
  text-align: center;
}
.frame {
    height: 500px;
    width: 500px;
    float: left;
    margin: 45px 0px 100px 94.5px;
    /* margin: top right bottom left; */
    border: 3px solid #FFFFFF;
    box-shadow: 7px 7px 40px #606060;
    outline: 10px solid #000;
    /* don't include outline when determining margin for positioning! */
}
